{% extends 'base.html' %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block content %}
    <h1 class="list-group">{{ object.name}}</h1>
    <ul>
        <li class="list-group-item"><strong>Goal: </strong>{{ object.goal }}</li>
        <li class="list-group-item"><strong>Planned Completion: </strong>{{ object.planned_completion_date }}</li>
        <li class="list-group-item"><strong>Actual Completion: </strong>{{ object.actual_completion_date }}</li>
        <li class="list-group-item"><strong>Reward: </strong>{{ object.reward }}</li>
        <li class="list-group-item"><strong>Proof: </strong>{{ object.proof }}</li>
    </ul>
{% endblock %}